In [143]:
import logging
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import matplotlib.pyplot as plt
from dateutil.parser import parse
from qdatasdk import *
from utility import *


security = "000300.XSHG"  #沪深300
security_test = "399006.XSHE"
start_date = "2022-04-01"
end_date = "2020-04-04"

In [144]:
df = get_bars(security_test,start_date,end_date,unit="1d",type="index")
print(df)

None

In [117]:
df = get_bars(security,start_date,end_date,unit="1m",type="index")

mask = [False for i in range(240)]
for i in range(240):
    if i%30==0 or i==239:
        mask[i] = True
print(df[mask])
df_filter = df[mask]

df_filter.to_csv('test1.csv',mode='a')
for i in range(5):
    df_filter.to_csv('test1.csv',mode='a',header=None)
df = pd.read_csv('test1.csv')



#pd.concat([df,df1])

                          open       high        low      close     volume  \
date
2022-04-01 09:31:00  4222.5968  4198.8191  4191.0940  4195.3958    3511125
2022-04-01 10:01:00  4229.1362  4232.6432  4190.0835  4232.6154   31128574
2022-04-01 10:31:00  4258.2507  4266.2029  4190.0835  4256.4403   52659840
2022-04-01 11:01:00  4279.0749  4290.6710  4190.0835  4281.5178   68923238
2022-04-01 13:01:00  4270.8698  4290.6710  4190.0835  4270.0581   80603896
2022-04-01 13:31:00  4270.2730  4290.6710  4190.0835  4271.7387   93891541
2022-04-01 14:01:00  4272.6036  4290.6710  4190.0835  4270.0889  104837164
2022-04-01 14:31:00  4275.4991  4290.6710  4190.0835  4273.3434  116390001
2022-04-01 15:00:00  4273.4280  4290.6710  4190.0835  4276.1580  133803053

                            money
date
2022-04-01 09:31:00  5.724632e+09
2022-04-01 10:01:00  5.511082e+10
2022-04-01 10:31:00  9.562541e+10
2022-04-01 11:01:00  1.293149e+11
2022-04-01 13:01:00  1.520151e+11
2022-04-01 13:31:00  1.744574e+11
2022-04-01 14:01:00  1.936914e+11
2022-04-01 14:31:00  2.148560e+11
2022-04-01 15:00:00  2.447589e+11

In [ ]:
print(df)

In [96]:
print(df1)

                 open      high        low     close        volume  \
date
2022-04-01  4198.8191  4290.671  4190.0835  4276.158  1.338031e+10

                   money
date
2022-04-01  2.447589e+11

In [ ]:
print(df.shape)

# df2 = get_paused(security,start_date,end_date)
# trade_dates = get_trade_days(start_date, end_date)
# trade_dates = sorted(trade_dates)
# print(trade_dates)
# get_security_info('000001.XSHE')

In [39]:
data = [{'a':1,'b':2},{'a':2,'b':1}]
df = pd.DataFrame(data, index=['ming', 'hong'],columns=['a','b'])
#df.index.name = '姓名'

print(df)
print(df.index)
#print(df.columns)
df['a']

#print()

      a  b
ming  1  2
hong  2  1
Index(['ming', 'hong'], dtype='object')

ming    1
hong    2
Name: a, dtype: int64

In [53]:
get_bars(security, start_date, end_date, unit="1d", type="index")

In [ ]:
get_all_securities(date=None)

In [46]:
df[0:1]

      a  b  flag
ming  1  1     1